.btn-secondary {
  color: #fff !important;
  width: 100%;
}

.btn-add {
  color: #fff;
  background-color: #29ab88;
  border-color: #26a17f;
  margin: 10px
}

img {
  width: 100%; }

.logo {
  width: 40px; }

.navbar {
  text-transform: uppercase; }

.social a {
  margin-right: 0.4rem; }

/*below only example, this doesnt work well*/
.tab-navbar-sticky{
  position: sticky;
  top: 5em;
}
.tab-navbar-margin{
  margin-top: 1em;
}
.tableFixHead thead th { position: sticky; top: 65px; font-size: 3vmin}

.nav-link{
  margin-top: 10px;
}


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link{
  border: 0;
  border-bottom: 7px solid #205067;
}

body{
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

footer{
  margin-top: auto;
}

#showcase {
  /*background: url(../img/showcase.jpg) no-repeat top center fixed/cover;*/
  background-image: url(../img/pantry.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  min-height: 861px;
  color: #fff;
  padding-top: 6rem; }
  #showcase .home-search {
    min-height: 400px;
    position: relative;
    border-radius: 5px; }
  #showcase .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
    width: 100%;
    background: rgba(51, 51, 51, 0.8); }



#work {
  padding: 6rem 0; }

.listing-preview a {
  position: relative; }

@media (max-width: 991px) {
  #showcase {
    padding-top: 4rem; }
    #showcase h1 {
      font-size: 40px; }
  .hide-md-down {
    display: none; } }

@media (max-width: 768px) {
  #showcase {
    padding-top: 3rem; }
    #showcase h1 {
      font-size: 40px; }
    #showcase p {
      display: none; }
  #top-bar {
    text-align: center; }
    #top-bar .social {
      text-align: center !important; } }

@media (max-width: 576px) {
  #showcase h1 {
    font-size: 30px; }
 }
