{% extends 'base.html' %}

{% block content %}
    <!-- Alerts -->
    <br>
    {% include 'partials/_alerts.html' %}
    <ul class="nav nav-tabs tab-navbar-margin nav-justified" id="myTab" role="tablist" >
        <li class="nav-item">
            <a class="nav-link
                            {% if base_product_active or use_as_default_tab %}
                                active
                            {% endif %}"
               id="base-products-tab" data-toggle="tab" href="#baseProducts" role="tab"
               aria-controls="baseProducts"
               aria-selected="{% if base_product_active or use_as_default_tab %}
                                    true
                               {% else %}
                                    false
                               {% endif %}"
            >Base Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link
                                {% if optional_product_active %}
                                    active
                                {% endif %}"
               id="optional-products-tab"
               data-toggle="tab" href="#optionalProducts" role="tab"
               aria-controls="optionalProducts"
               aria-selected="{% if optional_product_active %}
                                    true
                               {% else %}
                                    false
                               {% endif %}"
            >Optional Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link
                               {% if custom_product_active %}
                                    active
                               {% endif %}"
               id="custom-products-tab"
               data-toggle="tab" href="#customProducts" role="tab"
               aria-controls="customProducts"
               aria-selected="{% if custom_product_active %}
                                    true
                               {% else %}
                                    false
                               {% endif %}">
                Custom Products</a>
        </li>
        <li class="nav-item ml-auto">
            <button onclick="set_default_checkbox()" class="btn btn-add mr-3" type="button" data-toggle="modal" data-target="#shoppingListModal"><i class="fas fa-list"></i> Shopping list
            </button>
            <button class="btn btn-add mr-3" type="button" data-toggle="modal" data-target="#addProductModal">+ Add
                Product
            </button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade
                               {% if base_product_active or use_as_default_tab %}
                                    show active
                               {% endif %}"
             id="baseProducts" role="tabpanel" aria-labelledby="base-products-tab">
            {% include 'products/base_products.html' %}
        </div>
        <div class="tab-pane fade
                               {% if optional_product_active %}
                                    show active
                               {% endif %}"
             id="optionalProducts" role="tabpanel" aria-labelledby="optional-products-tab">
            {% include 'products/optional_products.html' %}
        </div>
        <div class="tab-pane fade
                               {% if custom_product_active %}
                                    show active
                               {% endif %}"
             id="customProducts" role="tabpanel" aria-labelledby="custom-products-tab">
            {% include 'products/custom_products.html' %}
        </div>
    </div>

    <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog"
         aria-labelledby="addProductCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addProductLongTitle">Add Product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="clear_add_product_checkboxes()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'product' %}" method="post" id="addProduct">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="product_name">Product Name</label>
                            <input type="text" maxlength="25" name="product_name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="desired_amount">Desired amount</label>
                            <input type="number" name="desired_amount" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="desired_amount">Current amount</label>
                            <input type="number" name="current_amount" class="form-control" required>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="is_base_product" value="True"
                                   id="isBaseProduct">
                            <label class="form-check-label" for="isBaseProduct">Base product</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="is_optional_product" value="True"
                                   id="isOptionalProduct">
                            <label class="form-check-label" for="isOptionalProduct">Optional product</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="is_custom_product" value="True"
                                   id="isCustomProduct">
                            <label class="form-check-label" for="isCustomProduct">Custom product</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="clear_add_product_checkboxes()">Close
                    </button>
                    <input type="submit" id="addProductButton" value="Add" form="addProduct" class="btn btn-secondary btn-block">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="shoppingListModal" tabindex="-1" role="dialog"
         aria-labelledby="shoppingListCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="shoppingListLongTitle">Choose shopping list</h5>
                    <button type="button" onclick="clear_checkboxes()" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'shopping_list' %}" method="get" id="shoppingList">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="is_base_product" value="True"
                                   id="isBaseProductShoppingList">
                            <label class="form-check-label" for="isBaseProductsShoppingList">Base products</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="is_optional_product" value="True"
                                   id="isOptionalProductShoppingList">
                            <label class="form-check-label" for="isOptionalProductsShoppingList">Optional products</label>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="is_custom_product" value="True"
                                   id="isCustomProductShoppingList">
                            <label class="form-check-label" for="isCustomProductsShoppingList">Custom products</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="clear_checkboxes()" class="btn btn-primary" data-dismiss="modal">Close
                    </button>
                    <input type="submit" value="Get list" id="getShoppingList" disabled form="shoppingList" class="btn btn-secondary btn-block">
                </div>
            </div>
        </div>
    </div>
{% endblock %}