{% extends 'base.html' %}

{% load humanize %}
{% block content %}

    <section id="about">
        <div class="container text-center">
            <div class=" p-5">
                <div class="overlay-about p-5">

                    <div class="text-padding about-justify-text">Pantry is organized in three main lists. Base products,
                        optional products
                        and custom products
                    </div>
                    <div class="d-flex justify-content-center">
                        <figure class="figure">
                            <img src="/static/img/about/1.png" class="figure-img img-fluid rounded " alt="">
                        </figure>
                    </div>
                    <div class="text-padding about-justify-text">
                        You can add product for each list separately. Just push „+ Add Product” button, specify product
                        details and mark to which list product should be added.
                    </div>
                    <div class="d-flex justify-content-center">
                        <figure class="figure">
                            <img src="/static/img/about/2.png" class="figure-img img-fluid rounded " alt="">
                        </figure>
                    </div>
                    <div class="text-padding about-justify-text">
                        After addition collapsed card will be displayed in respective list
                    </div>
                    <div class="d-flex justify-content-center">
                        <figure class="figure">
                            <img src="/static/img/about/3.png" class="figure-img img-fluid rounded " alt="">
                        </figure>
                    </div>
                    <div class="text-padding about-justify-text">
                        You can expand detail of a product by tapping arrow at the bottom of a card
                    </div>
                    <div class="d-flex justify-content-center">
                        <figure class="figure">
                            <img src="/static/img/about/4.png" class="figure-img img-fluid rounded " alt="">
                        </figure>
                    </div>
                    <div class="text-padding about-justify-text">
                        On the upper left corner current amount of a product is displayed, on the upper right corner
                        there is red minus button to decrease current amount by 1. You can also edit details or delete
                        product by pushing “Edit” button
                    </div>
                    <div class="d-flex justify-content-center">
                        <figure class="figure">
                            <img src="/static/img/about/5.png" class="figure-img img-fluid rounded " alt="">
                        </figure>
                    </div>
                    <div class="text-padding about-justify-text">
                        When current amount of a product become lower than desired amount then current amount number
                        on upper left corner is changing its color from green to red and product is then promoted to be
                        visible in shopping list
                    </div>
                    <div class="d-flex justify-content-center">
                        <figure class="figure">
                            <img src="/static/img/about/3.png" class="figure-img img-fluid rounded " alt="">
                        </figure>
                    </div>
                    <div class="d-flex justify-content-center">
                        <figure class="figure">
                            <img src="/static/img/about/6.png" class="figure-img img-fluid rounded " alt="">
                        </figure>
                    </div>
                    <div class="text-padding about-justify-text">
                        You can display shopping list by pushing button “Shopping list”.
                        Choose which list you would like to display by selecting check box.
                        You need to choose at least one.
                    </div>
                    <div class="d-flex justify-content-center">
                        <figure class="figure">
                            <img src="/static/img/about/7.png" class="figure-img img-fluid rounded " alt="">
                        </figure>
                    </div>
                    <div class="d-flex justify-content-center">
                        <figure class="figure">
                            <img src="/static/img/about/8.png" class="figure-img img-fluid rounded " alt="">
                        </figure>
                    </div>
                    <div class="text-padding about-justify-text">
                        Enjoy using PANTRY and special thanks for apacz from
                        <a href="www.deviantart.com" style="color: white">www.deviantart.com</a> for using his awesome
                        pictures at this site. Please visit his profile on www.deviantart.com and enjoy rest of his
                        pictures
                        <a href="https://www.deviantart.com/apacz"
                           style="color: white">https://www.deviantart.com/apacz</a>
                    </div>
                    <br>
                    <br>
                    <div class="text-padding about-justify-text">
                        Contact:
                        Rafal Parda
                        pardarafal@gmail.com
                    </div>
                </div>

            </div>
        </div>

    </section>



{% endblock %}