{% extends 'base.html' %}

{% load humanize %}
{% block content %}
    {% for product_list, products in product_lists.items %}
        {% if product_list %}
            <table class="table tableFixHead">
                <thead class="thead-dark font-size-table">
                <tr>
                    <th scope="col" style="width: 15%">{{ product_list }}</th>
                    <th scope="col"style="width: 35%">product name</th>
                    <th scope="col" style="width: 15%; text-align: center">lacking amount</th>
                    <th scope="col"style="width: 15%; text-align: center">current amount</th>
                    <th scope="col" style="width: 15%; text-align: center">desired amount</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr id="productRow{{ product.id }}">
                        <th class="align-middle" scope="row"><button class="btn btn-add mr-3" type="button" onclick="remove_row({{ product.id }})">Done</button></th>
                        <td class="align-middle">{{ product.product_name }}</td>
                        <td class="align-middle" style="text-align: center">{{ product.lacking_amount }}</td>
                        <td class="align-middle" style="text-align: center">{{ product.current_amount }}</td>
                        <td class="align-middle" style="text-align: center">{{ product.desired_amount }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}

{% endblock %}